<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<!-- Spring ApplicationContext配置文件的路径?,可使用通配符，多个路径用?1,号分隔此参数用于后面的Spring-Context loader -->
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:spring/*.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>undwrt</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>i18n/messages</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>

	</context-param>
	<!-- 服务器缓存类型  -->
	<context-param>
		<param-name>cacheType</param-name>
		<param-value>ehcache</param-value>
	</context-param>
	<!-- 著名 Character Encoding filter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>GBK</param-value>
		</init-param>
	</filter>
	
	<!--cas filter -->
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>CAS Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<!-- cas服务器 -->
			<param-value>http://192.168.19.15:9001/casserver/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<!-- undwrt服务ip和port -->
			<param-value>127.0.0.1:7002</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Filter</filter-name>
		<url-pattern>/index_portal.jsp</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<!-- cas服务器 -->
			<param-value>http://192.168.19.15:9001/casserver</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<!-- undwrt服务ip和port -->
			<param-value>127.0.0.1:7002</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>			
	</filter-mapping>
	
  	<filter>
    	<filter-name>CAS HttpServletRequestWrapperFilter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  	</filter>
	<filter-mapping>
		<filter-name>CAS HttpServletRequestWrapperFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  	<!--cas filter -->
	
	<!--Hibernate Open Session in View Filter-->
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<!-- 页面元素的GZIP压缩 Filter -->
	<filter>
		<filter-name>compressFilter</filter-name>
		<filter-class>ins.framework.web.CompressFilter</filter-class>
		<init-param>
			<param-name>ignoreKey</param-name>
			<param-value>.js,.css,.gif,.jpg,.vbs</param-value>
		</init-param>
	</filter>
	
	<!-- 
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter> 
	-->
	
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.sinosoft.undwrt.common.filter.SessionFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<!-- Cache Filter 缓存过滤器 -->
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>ins.framework.web.CacheFilter</filter-class>
		<init-param>
			<param-name>expireTime</param-name>
			<param-value>30000</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.vbs</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	-->
	 
	<!-- hibernateFilter位置放在此处是为解决延迟加载和事务提交的问题 -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>*.dwr</url-pattern>
	</filter-mapping>
	<!-- 让hibernate open session in view的荣光也照耀xfire -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/service/*</url-pattern>
	</filter-mapping>
	
	<!-- 过滤session -->
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
		  <!--modify by songzhewen 20170301 mantis5446: 验收问题：各系统密碼到期用舊密碼登入後直接跳密碼修改begin-->
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/common/*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/pages/*.jsp</url-pattern>
		  <!--modify by songzhewen 20170301 mantis5446: 验收问题：各系统密碼到期用舊密碼登入後直接跳密碼修改end-->
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*Servlet</url-pattern>
	</filter-mapping>
	
	<!-- 页面元素的GZIP压缩 Filter，减少网络带宽 -->
	<filter-mapping>
		<filter-name>compressFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/struts/*</url-pattern>
	</filter-mapping>

	<!-- 日志-->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	
	<!-- Session Log Listener 载入
	<listener>
		<listener-class>ins.common.web.ClaimHttpSessionListener</listener-class>
	</listener>
	-->

	<!-- Spring ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<!--
	<listener>
		<listener-class>ins.common.StartupListener</listener-class>
	</listener>
	-->

	<!--  cacheManager 服务端缓存-->
	<listener>
		<listener-class>ins.framework.cache.CacheManagerInitListener</listener-class>
	</listener>
	
	<!--  requestCombo 合并组件 	
	<servlet>
		<servlet-name>RequestComboServlet</servlet-name>
		<servlet-class>ins.platform.requestcombo.RequestComboServlet</servlet-class>
		<init-param>
			<description>允许访问的URL前缀，避免源码泄漏风险</description>
			<param-name>validPrefix</param-name>
			<param-value>/widgets/</param-value>
		</init-param>
		<init-param>
			<description>是否开启服务端对js文件混淆压缩</description>
			<param-name>isCompress</param-name>
			<param-value>false</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RequestComboServlet</servlet-name>
		<url-pattern>/requestCombo</url-pattern>
	</servlet-mapping>
	-->
	
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/requestCombo</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>compressFilter</filter-name>
		<url-pattern>/requestCombo</url-pattern>
	</filter-mapping>

	<!-- DWR servlet,生产环境应该Debug为false -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>crossDomainSessionSecurity</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>initApplicationScopeCreatorsAtStartup</param-name>
			<param-value>true</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>

	
	<!-- 初始化InitAppServlet的SERVLET -->
	<servlet>
		<servlet-name>InitAppServlet</servlet-name>
		<servlet-class>com.sinosoft.undwrt.common.servlet.InitAppServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>SubmitUndwrtTaskServlet</servlet-name>
		<servlet-class>com.sinosoft.undwrt.undwrtInterface.servlet.UndwrtTaskSubmitServlet</servlet-class>
	</servlet>
	
	<!-- XFIRE ....close 
	<servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class> org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DynamicTreeServlet</servlet-name>
		<servlet-class>ins.platform.dynamictree.servlet.DynamicTreeServlet</servlet-class>
	</servlet>
	-->
	
	<!--commonsearch 
	<servlet>
		<servlet-name>CommonSearchServlet</servlet-name>
		<servlet-class>ins.platform.commonsearch.web.CommonSearchServlet</servlet-class>
	</servlet>
	-->
	
	<!--
	<servlet>
		<servlet-name>initCompanyTreeServlet</servlet-name>
		<servlet-class>ins.common.InitCompanyTreeServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>quartzServlet</servlet-name>
		<servlet-class>ins.common.QuartzServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	-->
	<!--
	<servlet-mapping>
		<servlet-name>DynamicTreeServlet</servlet-name>
		<url-pattern>/dynamicTree</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/webservice/*</url-pattern>
	</servlet-mapping>
	-->

	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<!--
	<servlet-mapping>
		<servlet-name>CommonSearchServlet</servlet-name>
		<url-pattern>/servlet/CommonSearchServlet</url-pattern>
	</servlet-mapping>
	-->
	
	<servlet-mapping>
		<servlet-name>SubmitUndwrtTaskServlet</servlet-name>
		<url-pattern>/UndwrtTaskSubmitServlet</url-pattern>
	</servlet-mapping>
	
	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<!-- 默认首页定义 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Error Page定义 -->
	<error-page>
		<error-code>500</error-code>
		<location>/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/common/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/common/403.jsp</location>
	</error-page>
	<error-page>
		<exception-type>ins.framework.exception.DataVerifyException</exception-type>
		<location>/common/error.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Proprietary</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
		</auth-constraint>
	</security-constraint>
<jsp-config>
<taglib>
<taglib-uri>http://util.one.sinosoft.com/RCDate</taglib-uri>
<taglib-location>/WEB-INF/rc-date.tld</taglib-location>
</taglib>
</jsp-config>
	
</web-app>