<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">

	<!-- 双击域action -->
	<bean id="codeInputAction" 
		class="com.sinosoft.undwrt.common.web.CodeInputAction" scope="prototype" >
		<property name="prpDuserService" ref="prpDuserService2"></property>
	</bean>

	<bean id="processCodeInputAction" class="com.sinosoft.undwrt.common.web.ProcessCodeInputAction"
		scope="prototype" />

	<bean id="configAction" class="com.sinosoft.undwrt.common.util.ConfigAction"
		scope="prototype" />

	<bean id="standardvo" class="com.sinosoft.undwrt.undwrtRule.vo.StandardVo"
		scope="prototype" />

	<bean id="standardCheckAction" class="com.sinosoft.undwrt.common.util.StandardCheckAction"
		scope="prototype" />

	<bean id="loginAction" class="com.sinosoft.undwrt.common.web.LoginAction" scope="prototype" >
		<property name="prpDcompanyService" ref="prpDcompanyService2"></property>
		<property name="prpDuserService" ref="prpDuserService2"></property>
	</bean>

	<bean id="userModifyPwdAction" class="com.sinosoft.undwrt.common.web.UserModifyPwdAction"
		scope="prototype" />

	<bean id="wfMessageRemarkAction" class="com.sinosoft.undwrt.common.web.WfMessageRemarkAction"
		scope="prototype" />

	<bean id="commonViewTraceAction" class="com.sinosoft.undwrt.common.web.CommonViewTraceAction"
		scope="prototype" />


	<bean id="processUtiMenuAction" class="com.sinosoft.undwrt.common.web.ProcessUtiMenuAction"
		scope="prototype" />

	<bean id="commonCheckTaskAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.CommonCheckTaskAction"
		scope="prototype">
		<property name="prpDcompanyService" ref="prpDcompanyService2"></property>
	</bean>

	<bean id="commonDealSubmitAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.CommonDealSubmitAction" scope="prototype">
		<property name="reinsService" ref="reinsService2"></property>
	</bean>

	<bean id="msgAction" class="com.sinosoft.undwrt.common.util.MsgAction"
		scope="prototype" />
	
	<bean id="batchTaskAction" class="com.sinosoft.undwrt.undwrtDeal.web.BatchTaskAction" scope="prototype">
		<property name="prpDcompanyService" ref="prpDcompanyService2"></property>
	</bean>

	<bean id="commonBatchTaskAction" class="com.sinosoft.undwrt.undwrtDeal.web.CommonBatchTaskAction" scope="prototype">
	</bean>

	<bean id="batchTaskSubmitAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.batchTaskSubmitAction"
		scope="prototype" />

	<bean id="commonDealTaskAction" class="com.sinosoft.undwrt.undwrtDeal.web.CommonDealTaskAction" scope="prototype">
		<property name="prpDcompanyService" ref="prpDcompanyService2"></property>
		<property name="prpDuserService" ref="prpDuserService2"></property>
	</bean>

	<bean id="commonRetractTaskAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.CommonRetractTaskAction"
		scope="prototype" />
	
    <bean id="blackMaintenanceAction" class="com.sinosoft.undwrt.common.web.BlackMaintenanceAction"
		scope="prototype" />
    
	<bean id="undwrtTaskDealAction" class="com.sinosoft.undwrt.undwrtDeal.web.UndwrtTaskDealAction"
		scope="prototype" />

	<bean id="underwriteSubmitAction"
		class="com.sinosoft.undwrt.undwrtInterface.web.UnderwriteSubmitAction"
		scope="prototype" />

	<bean id="commonDangerRiskInfoViewAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.CommonDangerInfoViewAction"
		scope="prototype" />

	<bean id="commonDangerRiskLevelAction"
		class="com.sinosoft.undwrt.undwrtDeal.web.CommonDangerRiskLevelAction"
		scope="prototype" />

	<bean id="reinsTrialInfoAction" class="com.sinosoft.undwrt.undwrtDeal.web.ReinsTrialInfoAction"
		scope="prototype" />

	<bean id="enquiryReinsAction" class="com.sinosoft.undwrt.undwrtDeal.web.EnquiryReinsAction"
		scope="prototype" />
	
	<bean id="showClaimInfoAction" class="com.sinosoft.undwrt.undwrtDeal.web.ShowClaimInfoAction"
		scope="prototype" />
</beans>