<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">

	<!-- ============Components Service Area================ --> 
	<!-- 序列号生成接口 -->
	<bean id="idGenService" class="com.sinosoft.app.common.service.spring.IdGenServiceSpringImpl" />

	<bean id="userService" class="com.sinosoft.sys.platform.user.service.spring.UserServiceSpringImpl" />

	<bean id="companyService" class="com.sinosoft.sys.platform.company.service.spring.CompanyServiceSpringImpl" />
	
	<bean id="platConfigRuleService" class="com.sinosoft.app.common.service.spring.PlatConfigRuleServiceSpringImpl"/>
	
	<bean id="codeService" class="com.sinosoft.claim.common.service.spring.CodeServiceSpringImpl" />
    
    <bean id="perfCodeService" class="com.sinosoft.app.common.service.spring.PerfCodeServiceSpringImpl" />
    
    <bean id="perfTypeService" class="com.sinosoft.app.common.service.spring.PerfTypeServiceSpringImpl" />

	<bean id="perfCodeTransferService" class="com.sinosoft.app.common.service.spring.PerfCodeTransferServiceSpringImpl" /> 
	
	<bean id="processCodeInputService" class="com.sinosoft.claim.common.service.spring.ProcessCodeInputServiceSpringImpl"></bean>

	<bean id="prpDcompanyService" class="com.sinosoft.claim.common.service.spring.PrpDcompanyServiceSpringImpl"></bean>

	<bean id="prpDuserService" class="com.sinosoft.claim.common.service.spring.PrpDuserServiceSpringImpl"></bean>

	<bean id="menuService" class="com.sinosoft.claim.common.service.spring.MenuServiceSpringImpl"></bean>
	 
	<!-- 菜单配置 
	<bean id="saaMenuService" class="com.sinosoft.sys.platform.menu.service.spring.SaaMenuServiceSpringImpl" />
	-->
	<!-- 邮件 Service 别删 -->
	<import resource="classpath:spring/components/applicationContext-mail.xml"/>
	<import resource="classpath:spring/components/applicationContext-action-hr.xml"/>
	<import resource="classpath:spring/components/applicationContext-service-hr.xml"/>
	<!-- 理赔相关service -->
	<!--基础类 service -->
	<bean id="prpallPolicyService" class="com.sinosoft.claim.schema.service.spring.PrpallPolicyServiceSpringImpl"/>
	<bean id="prpCengageService" class="com.sinosoft.claim.schema.service.spring.PrpCengageServiceSpringImpl"/>
	<bean id="prpCitemKindService" class="com.sinosoft.claim.schema.service.spring.PrpCitemKindServiceSpringImpl"/>
	<bean id="prpClimitService" class="com.sinosoft.claim.schema.service.spring.PrpClimitServiceSpringImpl"/>
	<bean id="prpDcodeService" class="com.sinosoft.claim.schema.service.spring.PrpDcodeServiceSpringImpl"/>
    <bean id="prpDexchService" class="com.sinosoft.claim.schema.service.spring.PrpDexchServiceSpringImpl"/>
    <!-- mantis：CLM0274 ，處理人員：DP0713，需求單編號：新核心-個人旅行海外突發疾病法傳-增加事故地區保額規則 -->
	<bean id="prpDpolicyRulesService" class="com.sinosoft.claim.schema.service.spring.PrpDpolicyRulesServiceSpringImpl"/>

    <!-- 
	暂时注掉
	<bean id="prpDcompanyService" class="com.sinosoft.claim.schema.service.spring.PrpDcompanyServiceSpringImpl"/>
	<bean id="prpDuserService" class="com.sinosoft.claim.schema.service.spring.PrpDuserServiceSpringImpl"/> 
	-->
	<bean id="prpDlimitService" class="com.sinosoft.claim.schema.service.spring.PrpDlimitServiceSpringImpl"/>
	<bean id="prpLacciCheckService" class="com.sinosoft.claim.schema.service.spring.PrpLacciCheckServiceSpringImpl"/>
	<bean id="prpLacciCheckChargeService" class="com.sinosoft.claim.schema.service.spring.PrpLacciCheckChargeServiceSpringImpl"/>
	<bean id="prpLacciCheckTextService" class="com.sinosoft.claim.schema.service.spring.PrpLacciCheckTextServiceSpringImpl"/>
	<bean id="prpLacciPersonService" class="com.sinosoft.claim.schema.service.spring.PrpLacciPersonServiceSpringImpl"/>
	<bean id="prpLaccountService" class="com.sinosoft.claim.schema.service.spring.PrpLaccountServiceSpringImpl"/>
	<bean id="prpLarrearageService" class="com.sinosoft.claim.schema.service.spring.PrpLarrearageServiceSpringImpl"/>
	<bean id="prpLAssessorScoreService" class="com.sinosoft.claim.schema.service.spring.PrpLAssessorScoreServiceSpringImpl"/>
	<bean id="prpLassureService" class="com.sinosoft.claim.schema.service.spring.PrpLassureServiceSpringImpl"/>
	<bean id="prpLassureDetailService" class="com.sinosoft.claim.schema.service.spring.PrpLassureDetailServiceSpringImpl"/>
	<bean id="prpLBackCheckService" class="com.sinosoft.claim.schema.service.spring.PrpLBackCheckServiceSpringImpl"/>
	<bean id="prpLbackVisitService" class="com.sinosoft.claim.schema.service.spring.PrpLbackVisitServiceSpringImpl"/>
	<bean id="prpLbackVisitQueService" class="com.sinosoft.claim.schema.service.spring.PrpLbackVisitQueServiceSpringImpl"/>
	<bean id="prpLbackVisitTextService" class="com.sinosoft.claim.schema.service.spring.PrpLbackVisitTextServiceSpringImpl"/>
	<bean id="prpLcallCenterService" class="com.sinosoft.claim.schema.service.spring.PrpLcallCenterServiceSpringImpl"/>
	<bean id="prpLcarLossService" class="com.sinosoft.claim.schema.service.spring.PrpLcarLossServiceSpringImpl"/>
	<bean id="prpLcaseNoService" class="com.sinosoft.claim.schema.service.spring.PrpLcaseNoServiceSpringImpl"/>
	<bean id="prpLcertifyCollectService" class="com.sinosoft.claim.schema.service.spring.PrpLcertifyCollectServiceSpringImpl"/>
	<bean id="prpLcertifyDirectService" class="com.sinosoft.claim.schema.service.spring.PrpLcertifyDirectServiceSpringImpl"/>
	<bean id="prpLcertifyImgService" class="com.sinosoft.claim.schema.service.spring.PrpLcertifyImgServiceSpringImpl"/>
	<bean id="prpLcertifyPayeeService" class="com.sinosoft.claim.schema.service.spring.PrpLcertifyPayeeServiceSpringImpl"/>
	<bean id="prpLcertainLossService" class="com.sinosoft.claim.schema.service.spring.PrpLcertainLossServiceSpringImpl"/>
	<bean id="prpLcfeeService" class="com.sinosoft.claim.schema.service.spring.PrpLcfeeServiceSpringImpl"/>
	<bean id="prpLcfeecoinsService" class="com.sinosoft.claim.schema.service.spring.PrpLcfeecoinsServiceSpringImpl"/>
	<bean id="prpLchargeService" class="com.sinosoft.claim.schema.service.spring.PrpLchargeServiceSpringImpl"/>
	<bean id="prpLcheckService" class="com.sinosoft.claim.schema.service.spring.PrpLcheckServiceSpringImpl"/>
	<bean id="prpLcheckExtService" class="com.sinosoft.claim.schema.service.spring.PrpLcheckExtServiceSpringImpl"/>
	<bean id="prpLcheckItemService" class="com.sinosoft.claim.schema.service.spring.PrpLcheckItemServiceSpringImpl"/>
	<bean id="prpLcheckLossService" class="com.sinosoft.claim.schema.service.spring.PrpLcheckLossServiceSpringImpl"/>
	<bean id="prpLCitemKindService" class="com.sinosoft.claim.schema.service.spring.PrpLCitemKindServiceSpringImpl"/>
	<bean id="prpLclaimService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimServiceSpringImpl"/>
	<bean id="prpLclaimAgentService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimAgentServiceSpringImpl"/>
	<bean id="prpLclaimApprovService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimApprovServiceSpringImpl"/>
	<bean id="prpLclaimFeeService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimFeeServiceSpringImpl"/>
	<bean id="prpLclaimGradeService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimGradeServiceSpringImpl"/>
	<bean id="prpLclaimLossService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimLossServiceSpringImpl"/>
	<bean id="prpLclaimPolicyService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimPolicyServiceSpringImpl"/>
	<bean id="prpLclaimStatusService" class="com.sinosoft.claim.schema.service.spring.PrpLclaimStatusServiceSpringImpl"/>
	<bean id="prpLCMainService" class="com.sinosoft.claim.schema.service.spring.PrpLCMainServiceSpringImpl"/>
	<bean id="prpLcomponentService" class="com.sinosoft.claim.schema.service.spring.PrpLcomponentServiceSpringImpl"/>
	<bean id="prpLctextService" class="com.sinosoft.claim.schema.service.spring.PrpLctextServiceSpringImpl"/>
	<bean id="prpLdeductCondService" class="com.sinosoft.claim.schema.service.spring.PrpLdeductCondServiceSpringImpl"/>
	<bean id="prpLdeductibleService" class="com.sinosoft.claim.schema.service.spring.PrpLdeductibleServiceSpringImpl"/>
	<bean id="prpLdocService" class="com.sinosoft.claim.schema.service.spring.PrpLdocServiceSpringImpl"/>
	<bean id="prpLDocArchiveService" class="com.sinosoft.claim.schema.service.spring.PrpLDocArchiveServiceSpringImpl"/>
	<bean id="prpLdriverService" class="com.sinosoft.claim.schema.service.spring.PrpLdriverServiceSpringImpl"/>
	<bean id="prpLendorService" class="com.sinosoft.claim.schema.service.spring.PrpLendorServiceSpringImpl"/>
	<bean id="prplexcludeclaimService" class="com.sinosoft.claim.schema.service.spring.PrplexcludeclaimServiceSpringImpl"/>
	<bean id="prpLextService" class="com.sinosoft.claim.schema.service.spring.PrpLextServiceSpringImpl"/>
	<bean id="prpLexternalAgencyService" class="com.sinosoft.claim.schema.service.spring.PrpLexternalAgencyServiceSpringImpl"/>
	<bean id="prpLFMappingService" class="com.sinosoft.claim.schema.service.spring.PrpLFMappingServiceSpringImpl"/>
	<bean id="prpLgeneralClaimTaskService" class="com.sinosoft.claim.schema.service.spring.PrpLgeneralClaimTaskServiceSpringImpl"/>
	<bean id="prpLguaranteeService" class="com.sinosoft.claim.schema.service.spring.PrpLguaranteeServiceSpringImpl"/>
	<!-- 
	<bean id="prpLIndemnityReceiptService" class="com.sinosoft.claim.schema.service.spring.PrpLIndemnityReceiptServiceSpringImpl"/>
	 -->
	<bean id="prpLInsuranceSurveyorService" class="com.sinosoft.claim.schema.service.spring.PrpLInsuranceSurveyorServiceSpringImpl"/>
	<bean id="prpLintfProcessService" class="com.sinosoft.claim.schema.service.spring.PrpLintfProcessServiceSpringImpl"/>
	<bean id="prpLinvestigateService" class="com.sinosoft.claim.schema.service.spring.PrpLinvestigateServiceSpringImpl"/>
	<bean id="prpllawyerService" class="com.sinosoft.claim.schema.service.spring.PrpllawyerServiceSpringImpl"/>
	<bean id="prpLlossService" class="com.sinosoft.claim.schema.service.spring.PrpLlossServiceSpringImpl"/>
	<bean id="prpLltextService" class="com.sinosoft.claim.schema.service.spring.PrpLltextServiceSpringImpl"/>
    <bean id="prpLltextModelService" class="com.sinosoft.claim.schema.service.spring.PrpLltextModelServiceSpringImpl"/>
	<bean id="prpLmedicineService" class="com.sinosoft.claim.schema.service.spring.PrpLmedicineServiceSpringImpl"/>
	<bean id="prpLmenuService" class="com.sinosoft.claim.schema.service.spring.PrpLmenuServiceSpringImpl"/>
	<bean id="prpLmessageService" class="com.sinosoft.claim.schema.service.spring.PrpLmessageServiceSpringImpl"/>
	<bean id="prpLpersonService" class="com.sinosoft.claim.schema.service.spring.PrpLpersonServiceSpringImpl"/>
	<bean id="prpLPersonLimitService" class="com.sinosoft.claim.schema.service.spring.PrpLPersonLimitServiceSpringImpl"/>
	<bean id="prpLpersonLossService" class="com.sinosoft.claim.schema.service.spring.PrpLpersonLossServiceSpringImpl"/>
	<bean id="prpLpersonTraceService" class="com.sinosoft.claim.schema.service.spring.PrpLpersonTraceServiceSpringImpl"/>
	<bean id="prpLpersonTraceLogService" class="com.sinosoft.claim.schema.service.spring.PrpLpersonTraceLogServiceSpringImpl"/>
	<bean id="prpLpersonWoundService" class="com.sinosoft.claim.schema.service.spring.PrpLpersonWoundServiceSpringImpl"/>
	<bean id="prpLplanService" class="com.sinosoft.claim.schema.service.spring.PrpLplanServiceSpringImpl"/>
	<bean id="prpLplanKindService" class="com.sinosoft.claim.schema.service.spring.PrpLplanKindServiceSpringImpl"/>
	<bean id="prpLprepayService" class="com.sinosoft.claim.schema.service.spring.PrpLprepayServiceSpringImpl"/>
	<bean id="prpLpropService" class="com.sinosoft.claim.schema.service.spring.PrpLpropServiceSpringImpl"/>
	<bean id="prpLProxyService" class="com.sinosoft.claim.schema.service.spring.PrpLProxyServiceSpringImpl"/>
	<bean id="prpLptextService" class="com.sinosoft.claim.schema.service.spring.PrpLptextServiceSpringImpl"/>
	<bean id="prpLqualityCheckService" class="com.sinosoft.claim.schema.service.spring.PrpLqualityCheckServiceSpringImpl"/>
	<bean id="prpLquickCaseService" class="com.sinosoft.claim.schema.service.spring.PrpLquickCaseServiceSpringImpl"/>
	<bean id="prpLrecaseService" class="com.sinosoft.claim.schema.service.spring.PrpLrecaseServiceSpringImpl"/>
	<bean id="prpLreclaimService" class="com.sinosoft.claim.schema.service.spring.PrpLreclaimServiceSpringImpl"/>
	<bean id="prpLreferlawService" class="com.sinosoft.claim.schema.service.spring.PrpLreferlawServiceSpringImpl"/>
	<bean id="prpLregistService" class="com.sinosoft.claim.schema.service.spring.PrpLregistServiceSpringImpl"/>
	<bean id="prpLregistExtService" class="com.sinosoft.claim.schema.service.spring.PrpLregistExtServiceSpringImpl"/>
	<bean id="prpLregistrpolicyService" class="com.sinosoft.claim.schema.service.spring.PrplregistrpolicyServiceSpringImpl"/>
	<bean id="prpLregistTextService" class="com.sinosoft.claim.schema.service.spring.PrpLregistTextServiceSpringImpl"/>
	<bean id="prpLrelatePersonService" class="com.sinosoft.claim.schema.service.spring.PrpLrelatePersonServiceSpringImpl"/>
	<bean id="prpLrepairFeeService" class="com.sinosoft.claim.schema.service.spring.PrpLrepairFeeServiceSpringImpl"/>
	<bean id="prpLreplevyService" class="com.sinosoft.claim.schema.service.spring.PrpLreplevyServiceSpringImpl"/>
	<bean id="prpLreplevyDetailService" class="com.sinosoft.claim.schema.service.spring.PrpLreplevyDetailServiceSpringImpl"/>
	<bean id="prpLreplevyhistoryService" class="com.sinosoft.claim.schema.service.spring.PrplreplevyhistoryServiceSpringImpl"/>
	<bean id="prpLrtextService" class="com.sinosoft.claim.schema.service.spring.PrpLrtextServiceSpringImpl"/>
	<bean id="prpLsalvationService" class="com.sinosoft.claim.schema.service.spring.PrpLsalvationServiceSpringImpl"/>
	<bean id="prpLscheduleItemService" class="com.sinosoft.claim.schema.service.spring.PrpLscheduleItemServiceSpringImpl"/>
	<bean id="prpLscheduleMainService" class="com.sinosoft.claim.schema.service.spring.PrpLscheduleMainServiceSpringImpl"/>
	<bean id="prpLscheduleMainWFService" class="com.sinosoft.claim.schema.service.spring.PrpLscheduleMainWFServiceSpringImpl"/>
	<bean id="prpLclauseService" class="com.sinosoft.claim.schema.service.spring.PrpLclauseServiceSpringImpl"/>
	<!-- 
	<bean id="prpLscheduleObjectService" class="com.sinosoft.claim.schema.service.spring.PrpLscheduleObjectServiceSpringImpl"/>
	 -->
	 <bean id="prpLSendUndwrtService" class="com.sinosoft.claim.schema.service.spring.PrpLSendUndwrtServiceSpringImpl"/>
	<bean id="prpLSpecialCaseReasonService" class="com.sinosoft.claim.schema.service.spring.PrpLSpecialCaseReasonServiceSpringImpl"/>
	<bean id="prpLthirdCarLossService" class="com.sinosoft.claim.schema.service.spring.PrpLthirdCarLossServiceSpringImpl"/>
	<bean id="prpLthirdPartyService" class="com.sinosoft.claim.schema.service.spring.PrpLthirdPartyServiceSpringImpl"/>
	<bean id="prpLthirdpartyStatusService" class="com.sinosoft.claim.schema.service.spring.PrpLthirdpartyStatusServiceSpringImpl"/>
	<bean id="prpLthirdPropService" class="com.sinosoft.claim.schema.service.spring.PrpLthirdPropServiceSpringImpl"/>
	<bean id="prpLverifyLossExtService" class="com.sinosoft.claim.schema.service.spring.PrpLverifyLossExtServiceSpringImpl"/>
	<bean id="prpLverifyLossItemService" class="com.sinosoft.claim.schema.service.spring.PrpLverifyLossItemServiceSpringImpl"/>
	<bean id="prpLregistLogService" class="com.sinosoft.claim.schema.service.spring.PrpLregistLogServiceSpringImpl"/>
	<bean id="prpLcompensateService" class="com.sinosoft.claim.schema.service.spring.PrpLcompensateServiceSpringImpl"/>
	<bean id="prpLpayObjectService" class="com.sinosoft.claim.schema.service.spring.PrpLpayObjectServiceSpringImpl"/>
	<bean id="prpLpayObjectInfoService" class="com.sinosoft.claim.schema.service.spring.PrpLpayObjectInfoServiceSpringImpl"/>
	<!--mantis：CLM0126，處理人員：DP0713，需求單編號：受款人ID檢核 -->
	<bean id="prpLuserService"  class="com.sinosoft.claim.schema.service.spring.PrpLuserServiceSpringImpl"/>
	<!-- mantis：CLM0125，處理人員：DP0713，需求單編號：新功能理賠人員資料維護  -->
	<bean id="prpLUserLogService"  class="com.sinosoft.claim.schema.service.spring.PrpLUserLogServiceSpringImpl"/>
	<bean id="prpCinsuredNatureService" class="com.sinosoft.claim.schema.service.spring.PrpCinsuredNatureServiceSpringImpl"/>

	<bean id="prpDdeductCondService" class="com.sinosoft.claim.schema.service.spring.PrpDdeductCondServiceSpringImpl"/>
	<bean id="prpDclauseKindService" class="com.sinosoft.claim.common.service.spring.PrpDclauseKindServiceSpringImpl" />
	<bean id="prpDpaymentAccountService" class="com.sinosoft.claim.schema.service.spring.PrpDpaymentAccountServiceSpringImpl" />
	<!-- 理赔模块service-->
	<bean id="scheduleService" class="com.sinosoft.claim.schedule.service.spring.ScheduleServiceSpringImpl"/>
	<bean id="auditProcessService" class="com.sinosoft.claim.audit.service.spring.AuditProcessServiceSpringImpl"/>
	<!-- 工作流相关的service -->
	<!-- viewHelper -->
	<bean id="workFlowViewHelper" class="com.sinosoft.claim.workflow.util.WorkFlowViewHelper"/>
	<bean id="workFlowImageViewHelper" class="com.sinosoft.claim.workflow.util.WorkFlowImageViewHelper"/>
	<bean id="payRefRecViewHelper" class="com.sinosoft.claim.workflow.util.PayRefRecViewHelper"/>
	<bean id="apHeadService" class="com.sinosoft.claim.common.service.spring.ApHeadServiceSpringImpl" />
	<bean id="workFlowEngineViewHelper" class="com.sinosoft.claim.workflow.util.WorkFlowEngineViewHelper"/>
	<bean id="workFlowSpecialFlowViewHelper" class="com.sinosoft.claim.workflow.util.WorkFlowSpecialFlowViewHelper"/>	
	<bean id="workFlowStatViewHelper" class="com.sinosoft.claim.workflow.util.WorkFlowStatViewHelper"/>	
	<bean id="taskQueryViewHelper" class="com.sinosoft.claim.common.util.TaskQueryViewHelper"/>	
	<bean id="commonService" class="com.sinosoft.claim.common.service.spring.CommonServiceSpringImpl"/>
	<bean id="workFlowEngine" class="com.sinosoft.claim.workflow.service.spring.WorkFlowEngine"/>	
	
	<!-- service -->
	<bean id="workFlowService" class="com.sinosoft.claim.workflow.service.spring.WorkFlowServiceSpringImpl"/>
	<bean id="swfConditionService" class="com.sinosoft.claim.schema.service.spring.SwfConditionServiceSpringImpl"/>
	<bean id="swfFlowMainService" class="com.sinosoft.claim.schema.service.spring.SwfFlowMainServiceSpringImpl"/>
	<bean id="swfLogService" class="com.sinosoft.claim.schema.service.spring.SwfLogServiceSpringImpl"/>
	<bean id="swfLogStoreService" class="com.sinosoft.claim.schema.service.spring.SwfLogStoreServiceSpringImpl"/>
	<bean id="swfModelMainService" class="com.sinosoft.claim.schema.service.spring.SwfModelMainServiceSpringImpl"/>
	<bean id="swfModelUseService" class="com.sinosoft.claim.schema.service.spring.SwfModelUseServiceSpringImpl"/>
	<bean id="swfNodeService" class="com.sinosoft.claim.schema.service.spring.SwfNodeServiceSpringImpl"/>
	<bean id="swfNotionService" class="com.sinosoft.claim.schema.service.spring.SwfNotionServiceSpringImpl"/>
	<bean id="swfPackageService" class="com.sinosoft.claim.schema.service.spring.SwfPackageServiceSpringImpl"/>
	<bean id="swfPathGraphService" class="com.sinosoft.claim.schema.service.spring.SwfPathGraphServiceSpringImpl"/> 
	<bean id="swfPathLogService" class="com.sinosoft.claim.schema.service.spring.SwfPathLogServiceSpringImpl"/> 
	<bean id="swfPathLogStoreService" class="com.sinosoft.claim.schema.service.spring.SwfPathLogStoreServiceSpringImpl"/> 
	<bean id="swfPathService" class="com.sinosoft.claim.schema.service.spring.SwfPathServiceSpringImpl"/> 
	<bean id="swfConfigService" class="com.sinosoft.claim.schema.service.spring.SwfConfigServiceSpringImpl"/>
	<bean id="workFlowEngineService" class="com.sinosoft.claim.workflow.service.spring.WorkFlowEngineService"/>
    <bean id="businessViewHelper" class="com.sinosoft.claim.workflow.util.BusinessViewHelper"/>	
	<!-- 承保service -->
	<bean id="prpCaddressService" class="com.sinosoft.claim.schema.service.spring.PrpCaddressServiceSpringImpl"/>
	<bean id="prpCagentService" class="com.sinosoft.claim.schema.service.spring.PrpCagentServiceSpringImpl"/>
	<bean id="prpCagentDetailService" class="com.sinosoft.claim.schema.service.spring.PrpCagentDetailServiceSpringImpl"/>
	<bean id="prpCardService" class="com.sinosoft.claim.schema.service.spring.PrpCardServiceSpringImpl"/>
	<bean id="prpCardSubService" class="com.sinosoft.claim.schema.service.spring.PrpCardSubServiceSpringImpl"/>
	<bean id="prpCbatchService" class="com.sinosoft.claim.schema.service.spring.PrpCbatchServiceSpringImpl"/>
	<bean id="prpCcarDeviceService" class="com.sinosoft.claim.schema.service.spring.PrpCcarDeviceServiceSpringImpl"/>
	<bean id="prpCcarDriverService" class="com.sinosoft.claim.schema.service.spring.PrpCcarDriverServiceSpringImpl"/>
	<bean id="prpCcargoDetailService" class="com.sinosoft.claim.schema.service.spring.PrpCcargoDetailServiceSpringImpl"/>
	<bean id="prpCcarShipTaxService" class="com.sinosoft.claim.schema.service.spring.PrpCcarShipTaxServiceSpringImpl"/>
	<bean id="prpCcoinsDetailService" class="com.sinosoft.claim.schema.service.spring.PrpCcoinsDetailServiceSpringImpl"/>
	<bean id="prpCfeeService" class="com.sinosoft.claim.schema.service.spring.PrpCfeeServiceSpringImpl"/>
	<bean id="prpCguarantyService" class="com.sinosoft.claim.schema.service.spring.PrpCguarantyServiceSpringImpl"/>
	<bean id="prpCinsuredService" class="com.sinosoft.claim.schema.service.spring.PrpCinsuredServiceSpringImpl"/>
	<bean id="prpPinsuredService" class="com.sinosoft.claim.schema.service.spring.PrpPinsuredServiceSpringImpl"/>
	<bean id="prpCitemAgriService" class="com.sinosoft.claim.schema.service.spring.PrpCitemAgriServiceSpringImpl"/>
	<bean id="prpCitemCarService" class="com.sinosoft.claim.schema.service.spring.PrpCitemCarServiceSpringImpl"/>
	<bean id="prpCitemCarExtService" class="com.sinosoft.claim.schema.service.spring.PrpCitemCarExtServiceSpringImpl"/>
	<bean id="prpCitemCargoService" class="com.sinosoft.claim.schema.service.spring.PrpCitemCargoServiceSpringImpl"/>
	<bean id="prpCitemDeviceService" class="com.sinosoft.claim.schema.service.spring.PrpCitemDeviceServiceSpringImpl"/>
	<bean id="prpCitemHouseService" class="com.sinosoft.claim.schema.service.spring.PrpCitemHouseServiceSpringImpl"/>
	<bean id="prpCitemPlaneService" class="com.sinosoft.claim.schema.service.spring.PrpCitemPlaneServiceSpringImpl"/>
	<bean id="prpCitemPropService" class="com.sinosoft.claim.schema.service.spring.PrpCitemPropServiceSpringImpl"/>
	<bean id="prpCitemShipService" class="com.sinosoft.claim.schema.service.spring.PrpCitemShipServiceSpringImpl"/>
	<bean id="prpCmainService" class="com.sinosoft.claim.schema.service.spring.PrpCmainServiceSpringImpl"/>
	<bean id="prpCmainAgriService" class="com.sinosoft.claim.schema.service.spring.PrpCmainAgriServiceSpringImpl"/>
	<bean id="prpCmainCargoService" class="com.sinosoft.claim.schema.service.spring.PrpCmainCargoServiceSpringImpl"/>
	<bean id="prpCmainCasualtyService" class="com.sinosoft.claim.schema.service.spring.PrpCmainCasualtyServiceSpringImpl"/>
	<bean id="prpCmainConstructService" class="com.sinosoft.claim.schema.service.spring.PrpCmainConstructServiceSpringImpl"/>
	<bean id="prpCmainCreditService" class="com.sinosoft.claim.schema.service.spring.PrpCmainCreditServiceSpringImpl"/>
	<bean id="prpCmainInvestService" class="com.sinosoft.claim.schema.service.spring.PrpCmainInvestServiceSpringImpl"/>
	<bean id="prpCmainLiabService" class="com.sinosoft.claim.schema.service.spring.PrpCmainLiabServiceSpringImpl"/>
	<bean id="prpCmainLoanService" class="com.sinosoft.claim.schema.service.spring.PrpCmainLoanServiceSpringImpl"/>
	<bean id="prpCmainPropService" class="com.sinosoft.claim.schema.service.spring.PrpCmainPropServiceSpringImpl"/>
	<bean id="prpCmainSubService" class="com.sinosoft.claim.schema.service.spring.PrpCmainSubServiceSpringImpl"/>
	<bean id="prpCnameService" class="com.sinosoft.claim.schema.service.spring.PrpCnameServiceSpringImpl"/>
	<bean id="prpCopenCoverBalService" class="com.sinosoft.claim.schema.service.spring.PrpCopenCoverBalServiceSpringImpl"/>
	<bean id="prpCplanService" class="com.sinosoft.claim.schema.service.spring.PrpCplanServiceSpringImpl"/>
	<bean id="prpCprofitService" class="com.sinosoft.claim.schema.service.spring.PrpCprofitServiceSpringImpl"/>
	<bean id="prpCprofitDetailService" class="com.sinosoft.claim.schema.service.spring.PrpCprofitDetailServiceSpringImpl"/>
	<bean id="prpCprojectService" class="com.sinosoft.claim.schema.service.spring.PrpCprojectServiceSpringImpl"/>
	<bean id="prpCrationService" class="com.sinosoft.claim.schema.service.spring.PrpCrationServiceSpringImpl"/>
	<bean id="prpCrenewalService" class="com.sinosoft.claim.schema.service.spring.PrpCrenewalServiceSpringImpl"/>
	<bean id="prpCshipDriverService" class="com.sinosoft.claim.schema.service.spring.PrpCshipDriverServiceSpringImpl"/>
	<bean id="prpCproductService" class="com.sinosoft.claim.schema.service.spring.PrpCproductServiceSpringImpl"></bean>
	<bean id="prpCCargoItemService" class="com.sinosoft.claim.schema.service.spring.PrpCCargoItemServiceSpringImpl"></bean>
	<bean id="prpCopyCargoItemService" class="com.sinosoft.claim.schema.service.spring.PrpCopyCargoItemServiceSpringImpl"></bean>
	<bean id="prpCmainCarGoSubService" class="com.sinosoft.claim.schema.service.spring.PrpCmainCarGoSubServiceSpringImpl"></bean>
	<bean id="prpCplaneService" class="com.sinosoft.claim.schema.service.spring.PrpCplaneServiceSpringImpl"></bean>
	<!-- 承保Copy相关service -->
	<bean id="policyCopyService" class="com.sinosoft.claim.common.service.spring.PolicyCopyServiceSpringImpl"/>
	<bean id="prpCopyCarDriverService" class="com.sinosoft.claim.schema.service.spring.PrpCopyCarDriverServiceSpringImpl"/>
	<bean id="prpCopyFeeService" class="com.sinosoft.claim.schema.service.spring.PrpCopyFeeServiceSpringImpl"/>
	<bean id="prpCopyInsuredService" class="com.sinosoft.claim.schema.service.spring.PrpCopyInsuredServiceSpringImpl"/>
	<bean id="prpCopyItemCarService" class="com.sinosoft.claim.schema.service.spring.PrpCopyItemCarServiceSpringImpl"/>
	<bean id="prpCopyItemKindService" class="com.sinosoft.claim.schema.service.spring.PrpCopyItemKindServiceSpringImpl"/>
	<bean id="prpCopyLimitService" class="com.sinosoft.claim.schema.service.spring.PrpCopyLimitServiceSpringImpl"/>
	<bean id="prpCopyMainService" class="com.sinosoft.claim.schema.service.spring.PrpCopyMainServiceSpringImpl"/>
	<bean id="prpCopymainCargoService" class="com.sinosoft.claim.schema.service.spring.PrpCopymainCargoServiceSpringImpl"/>
	<bean id="prpCopymainCarGoSubService" class="com.sinosoft.claim.schema.service.spring.PrpCopymainCarGoSubServiceSpringImpl"/>
	<bean id="prpDpersonFeeCodeRiskService" class="com.sinosoft.claim.schema.service.spring.PrpDpersonFeeCodeRiskServiceSpringImpl"></bean>
	<bean id="excludeClaimService" class="com.sinosoft.claim.claim.service.spring.ExcludeClaimServiceSpringImpl"></bean>
	
	<bean id="prpCcoinsService" class="com.sinosoft.claim.schema.service.spring.PrpCcoinsServiceSpringImpl" ></bean>
	<bean id="prpJPayRefRecHisService" class="com.sinosoft.claim.schema.service.spring.PrpJPayRefRecHisServiceSpringImpl"></bean>
	
	<bean id="wfLogService" class="com.sinosoft.claim.schema.service.spring.WfLogServiceSpringImpl"></bean>
	
	<bean id="prpGroupService" class="com.sinosoft.claim.schema.service.spring.PrpGroupServiceSpringImpl"></bean>
    <bean id="prpMaxNoService" class="com.sinosoft.claim.schema.service.spring.PrpMaxNoServiceSpringImpl"></bean>
    <bean id="prpMaxUseService" class="com.sinosoft.claim.schema.service.spring.PrpMaxUseServiceSpringImpl"></bean>
    <bean id="utiKeyService" class="com.sinosoft.claim.schema.service.spring.UtiKeyServiceSpringImpl"></bean>
    <bean id="prpLdisabilityLimitService" class="com.sinosoft.claim.schema.service.spring.PrpLdisabilityLimitServiceSpringImpl"></bean>
    <bean id="prpLhospitalService" class="com.sinosoft.claim.schema.service.spring.PrpLhospitalServiceSpringImpl"></bean>
    <bean id="prpLbankService" class="com.sinosoft.claim.schema.service.spring.PrpLbankServiceSpringImpl"></bean>
    <!-- 2013-4-27 LN 打印 -->
    <bean id="claimPrintService" class="com.sinosoft.claim.common.service.spring.ClaimPrintServiceSpringImpl"></bean>
    <bean id="prpDclassService" class="com.sinosoft.claim.schema.service.spring.PrpDclassServiceSpringImpl"></bean>
    <bean id="utiUserGradeService" class="com.sinosoft.claim.schema.service.spring.UtiUserGradeServiceSpringImpl"></bean>
    <bean id="utiUserGradeTaskService" class="com.sinosoft.claim.schema.service.spring.UtiUserGradeTaskServiceSpringImpl"></bean>
    <bean id="utiTaskService" class="com.sinosoft.claim.schema.service.spring.UtiTaskServiceSpringImpl"></bean>
    <!-- 消息推送 20130816 -->
    <bean id="messageService" class="com.sinosoft.claim.message.service.spring.MessageServiceSpringImpl"></bean>
    <!-- 送审 -->
    <bean id="sendUndwrtService" class="com.sinosoft.claim.sendUndwrt.service.spring.SendUndwrtServiceSpringImpl"/>
	<!-- 查詢 -->
	<bean id="claimQueryViewHelper" class="com.sinosoft.claim.common.util.ClaimQueryViewHelper"/>
	<!-- mantis：CLM0265，處理人員：DP0713，需求單編號：新核心-DP自動化功能 START -->
	<!-- DP自動LOG -->
	<bean id="prpDautoDpLogService" class="com.sinosoft.claim.schema.service.spring.PrpDautoDpLogServiceSpringImpl"/>
	<!--mantis：CLM0277 ，處理人員： DP0713 ，需求單編號：理算任務串聯區塊鏈API3.10同業確認+API3.5建立理賠單 START -->
	<bean id="vehicleClaimApiLogService"  class="com.sinosoft.claim.schema.service.spring.VehicleClaimApiLogServiceSpringImpl"/>
	<bean id="claimCompulsoryApplicantService"  class="com.sinosoft.claim.schema.service.spring.ClaimCompulsoryApplicantServiceSpringImpl"/>
	<bean id="claimCompulsoryApportionService"  class="com.sinosoft.claim.schema.service.spring.ClaimCompulsoryApportionServiceSpringImpl"/>
	<bean id="claimCompulsoryCaseService"  class="com.sinosoft.claim.schema.service.spring.ClaimCompulsoryCaseServiceSpringImpl"/>
	<bean id="claimCompulsoryChargesService"  class="com.sinosoft.claim.schema.service.spring.ClaimCompulsoryChargesServiceSpringImpl"/>
	<bean id="claimCompulsoryStatePricesService"  class="com.sinosoft.claim.schema.service.spring.ClaimCompulsoryStatePricesServiceSpringImpl"/>
	<!--mantis：CLM0277 ，處理人員： DP0713 ，需求單編號：理算任務串聯區塊鏈API3.10同業確認+API3.5建立理賠單 END-->
	 
</beans>
