<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">
	<!-- 定损业务处理 -->
	<bean id="compensateService"  class="com.sinosoft.claim.compensate.service.spring.CompensateServiceSpringImpl"/>
	<!-- 外部机构任务处理 -->
	<!-- 公估机构维护 -->
	<bean id="externalagencyService" class="com.sinosoft.claim.ExternalAgency.service.spring.ExternalagencyServiceSpringImpl"/>
	<bean id="externalAgencyViewHelper" class="com.sinosoft.claim.ExternalAgency.util.ExternalAgencyViewHelper"/>
	<bean id="externalAgencyAction" class="com.sinosoft.claim.ExternalAgency.web.ExternalAgencyAction"/>
	<!-- 公估师维护 -->
	<bean id="insuranceSurveyorViewHelper" class="com.sinosoft.claim.ExternalAgency.util.InsuranceSurveyorViewHelper"/>
	<bean id="insuranceSurveyorService" class="com.sinosoft.claim.ExternalAgency.service.spring.InsuranceSurveyorServiceSpringImpl"/>
	<bean id="insuranceSurveyorAction" class="com.sinosoft.claim.ExternalAgency.web.InsuranceSurveyorAction"/>
	<!-- 新增定损调度 -->
	<bean id="thirdPartyBeforeEditAction" class="com.sinosoft.claim.schedule.web.ThirdPartyBeforeEditAction"/>
	<bean id="thirdPartyViewHelper" class="com.sinosoft.claim.schedule.util.ThirdPartyViewHelper"/>
	<bean id="utiCodeTransferService" class="com.sinosoft.claim.common.service.spring.UtiCodeTransferServiceSpringImpl"/>
	<bean id="thirdPartyEditPostAction" class="com.sinosoft.claim.schedule.web.ThirdPartyEditPostAction"/>
	<bean id="scheduleCertainLossService" class="com.sinosoft.claim.schedule.service.spring.ScheduleCertainLossServiceSpringImpl"/>
	<!-- 机构权限设置 
	-->
	<bean id="utiUwConditionAction" class="com.sinosoft.claim.undwrt.web.UtiUwConditionAction"/>
	<bean id="utiUwConditionService" class="com.sinosoft.claim.schema.service.spring.UtiUwConditionServiceSpringImpl"></bean>
	<bean id="utiUwUserConditionService" class="com.sinosoft.claim.schema.service.spring.UtiUwUserConditionServiceSpringImpl"></bean>
	<bean id="utiUwLevelService" class="com.sinosoft.claim.schema.service.spring.UtiUwLevelServiceSpringImpl" ></bean>
	<bean id="utiUwFactorAction" class="com.sinosoft.claim.undwrt.web.UtiUwFactorAction"></bean>
	
	<!-- 批单大对象迁移 -->
	<bean id="prpPheadService" class="com.sinosoft.claim.common.service.spring.PrpPheadServiceSpringImpl" ></bean>
	<bean id="prpPmainService" class="com.sinosoft.claim.common.service.spring.PrpPmainServiceSpringImpl" ></bean>
	<bean id="prpPitemKindService" class="com.sinosoft.claim.common.service.spring.PrpPitemKindServiceSpringImpl" ></bean>
	<bean id="prpPtextService" class="com.sinosoft.claim.common.service.spring.PrpPtextServiceSpringImpl" ></bean>
	<bean id="endorseService" class="com.sinosoft.claim.common.service.spring.EndorseServiceSpringImpl"></bean>
	<bean id="prpPfeeService" class="com.sinosoft.claim.common.service.spring.PrpPfeeServiceSpringImpl"></bean>
	<bean id="prpPitemCarService" class="com.sinosoft.claim.common.service.spring.PrpPitemCarServiceSpringImpl"></bean>
	<bean id="prpPprofitService" class="com.sinosoft.claim.common.service.spring.PrpPprofitServiceSpringImpl"></bean>
	<bean id="endorseViewHelper" class="com.sinosoft.claim.common.util.EndorseViewHelper"  scope="prototype"></bean>
	<bean id="utiUwFactorService" class="com.sinosoft.claim.schema.service.spring.UtiUwFactorServiceSpringImpl"></bean>
	<bean id="utiUwComboFactorService" class="com.sinosoft.claim.schema.service.spring.UtiUwComboFactorServiceSpringImpl"></bean>
	<bean id="prpDcodeRiskService" class="com.sinosoft.claim.common.service.spring.PrpDcodeRiskServiceServiceImpl"></bean>
	<bean id="prpDtypeService" class="com.sinosoft.claim.common.service.spring.PrpDtypeServiceSpringImpl"></bean>
	<bean id="prpDcodeService" class="com.sinosoft.claim.schema.service.spring.PrpDcodeServiceSpringImpl"></bean>
	<bean id="prpDcurrencyService" class="com.sinosoft.claim.common.service.spring.PrpDcurrencyServiceSpringImpl"></bean>
	<bean id="prpDclauseKindService" class="com.sinosoft.claim.common.service.spring.PrpDclauseKindServiceSpringImpl"></bean>
	<bean id="prpDcarModelService" class="com.sinosoft.claim.common.service.spring.PrpDcarModelServiceSpringImpl"></bean>
	<bean id="prpLagentService" class="com.sinosoft.claim.common.service.spring.PrpLagentServiceSpringImpl"></bean>
	<bean id="prpDriskService" class="com.sinosoft.claim.common.service.spring.PrpDriskServiceSpringImpl"></bean>
	<bean id="prpDriskConfigService" class="com.sinosoft.claim.common.service.spring.PrpDriskConfigServiceSpringImpl"></bean>
	<bean id="prpDkindService" class="com.sinosoft.claim.common.service.spring.PrpDkindServiceSpringImpl"></bean>
	<bean id="prpPengageService" class="com.sinosoft.claim.common.service.spring.PrpPengageServiceSpringImpl"></bean>
	<bean id="sendUndwrtViewHelper" class="com.sinosoft.claim.common.util.SendUndwrtViewHelper"></bean>
	<bean id="flowNodeCancelPostAction" class="com.sinosoft.claim.schedule.web.FlowNodeCancelPostAction"></bean>
	<bean id="relateBusinessNoAction" class="com.sinosoft.claim.common.web.RelateBusinessNoAction"></bean>
	<bean id="relateBusinessNoViewHelper" class="com.sinosoft.claim.common.util.RelateBusinessNoViewHelper"></bean>
	<!-- 殘餘物管理 -->
	<bean id="remnantResultQueryAction" class="com.sinosoft.claim.remnant.web.RemnantResultQueryAction" scope="prototype"></bean>
	<bean id="remnantBeforeEditAction" class="com.sinosoft.claim.remnant.web.RemnantBeforeEditAction" scope="prototype"></bean>
	<bean id="remnantViewHelper" class="com.sinosoft.claim.remnant.util.RemnantViewHelper"/>
	<bean id="remnantSaveAction" class="com.sinosoft.claim.remnant.web.RemnantSaveAction" scope="prototype"></bean>
	<bean id="remnantService" class="com.sinosoft.claim.remnant.service.spring.RemnantServiceSpringImpl"/>
	<bean id="prpLbuyerService" class="com.sinosoft.claim.schema.service.spring.PrpLbuyerServiceSpringImpl"/>
	<bean id="prpLremnantService" class="com.sinosoft.claim.schema.service.spring.PrpLremnantServiceSpringImpl"/>
</beans>