<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName" default-lazy-init="true">
	<!--调度相关 action -->
	<bean id="scheduleGetBackBeforeAction" class="com.sinosoft.claim.schedule.web.ScheduleGetBackBeforeAction" scope="prototype"/>
	<bean id="scheduleBeforeEditAction" class="com.sinosoft.claim.schedule.web.ScheduleBeforeEditAction" scope="prototype"/>
	<bean id="scheduleEditPostAction" class="com.sinosoft.claim.schedule.web.ScheduleEditPostAction" scope="prototype"/>
    <bean id="scheduleGetBackQueryAction" class="com.sinosoft.claim.schedule.web.ScheduleGetBackQueryAction" scope="prototype"/>
	<!--相关 service -->
	<!-- 重开赔案 处理 -->
	<bean id="reCaseBeforeEditAction" class="com.sinosoft.claim.endcase.web.ReCaseBeforeEditAction" scope="prototype"/>
	<bean id="reCaseEditPostAction" class="com.sinosoft.claim.endcase.web.ReCaseEditPostAction" scope="prototype"/>
	<bean id="reCaseViewHelper" class="com.sinosoft.claim.endcase.util.ReCaseViewHelper" scope="prototype"/>
	<!--结案相关 action -->
	<bean id="endcaseBeforeEditAction" class="com.sinosoft.claim.endcase.web.EndcaseBeforeEditAction" scope="prototype"/>
	<bean id="endcaseEditPostAction" class="com.sinosoft.claim.endcase.web.EndcaseEditPostAction" scope="prototype"/>
	<bean id="endcaseQueryAction" class="com.sinosoft.claim.endcase.web.EndcaseQueryAction" scope="prototype"></bean>
	<!--相关 service -->
	<bean id="endcaseService" class="com.sinosoft.claim.endcase.service.spring.EndcaseServiceSpringImpl"/>
	<!-- ViewHelper -->
	<bean id="daaEndcaseViewHelper" class="com.sinosoft.claim.endcase.util.DAAEndcaseViewHelper"/>
	<bean id="daaScheduleViewHelper" class="com.sinosoft.claim.schedule.util.DAAScheduleViewHelper"/>
	
	<!--理算相关 action -->
	<bean id="compensateBeforeEditAction" class="com.sinosoft.claim.compensate.web.CompensateBeforeEditAction" scope="prototype"/>
	<bean id="compensateEditPostAction" class="com.sinosoft.claim.compensate.web.CompensateEditPostAction" scope="prototype"/>
	
	<bean id="daaCompensateViewHelper" class="com.sinosoft.claim.compensate.util.DAACompensateViewHelper"/>
	<bean id="accidentCompensateViewHelper" class="com.sinosoft.claim.compensate.util.AccidentCompensateViewHelper"/>
	<bean id="sunnyCompensateViewHelper" class="com.sinosoft.claim.compensate.util.SunnyCompensateViewHelper"/>
	<bean id="compensateGenerateImplCompelViewHelper" class="com.sinosoft.claim.compensate.util.CompensateGenerateImplCompelViewHelper"/>
	<bean id="compensateGenerateImplDubangViewHelper" class="com.sinosoft.claim.compensate.util.CompensateGenerateImplDubangViewHelper"/>
	<bean id="compensateGenerateLossViewHelper" class="com.sinosoft.claim.compensate.util.CompensateGenerateLossViewHelper"/>
	
	<!--实体资料归档  action -->
	<bean id="archiveQueryAction" class="com.sinosoft.claim.archive.web.ArchiveQueryAction" scope="prototype"/>
	<bean id="archiveViewHelper" class="com.sinosoft.claim.archive.util.ArchiveViewHelper"/>
	<bean id="archiveDealAction" class="com.sinosoft.claim.archive.web.ArchiveDealAction" scope="prototype"/>
	<bean id="archiveService" class="com.sinosoft.claim.archive.service.spring.ArchiveServiceSpringImpl"/>
	<bean id="prpLDocArchiveLogService" class="com.sinosoft.claim.schema.service.spring.PrpLDocArchiveLogServiceSpringImpl"/>
	<!--送审初复核 -->
	<bean id="sendUndwrtAction" class="com.sinosoft.claim.sendUndwrt.web.SendUndwrtAction" scope="prototype"/>
	<bean id="sendUndwrtQueryAction" class="com.sinosoft.claim.sendUndwrt.web.SendUndwrtQueryAction" scope="prototype"/>
	<!--综合查询 -->
	<bean id="integratedQueryAction" class="com.sinosoft.claim.common.web.IntegratedQueryAction" scope="prototype"/>
	<!-- 保单大对象 -->
	<bean id="policyService" class="com.sinosoft.claim.common.service.spring.PolicyServiceSpringImpl"/>
	<!--添加修改密码功能-->
	<bean id="updatePwdAction" class="com.sinosoft.claim.updatepwd.web.UpdatePwdAction" scope="prototype"/>
	<!-- 单号生成规则 -->
	<bean id="billService" class="com.sinosoft.claim.common.service.spring.BillServiceSpringImpl"/>
</beans>