<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	
	<!-- Action -->
	<!-- mantis：OTH0065，處理人員：BJ085，需求單編號：OTH0065 建置AML洗錢查詢畫面 -->
	<bean id="AJAX001Action" scope="prototype" class="com.tlg.ajax.action.AJAX001Action">
        <property name="metaAmlResultDetailService" ref="metaAmlResultDetailService" />
    </bean>
    
    <bean id="AJAX002Action" scope="prototype" class="com.tlg.ajax.action.AJAX002Action">
    </bean>
    <!-- mantis：OTH0087，處理人員：BJ085，需求單編號：OTH0087 AML手動登錄  -->
    <bean id="AJAX003Action" scope="prototype" class="com.tlg.ajax.action.AJAX003Action">
    	<property name="prpdRiskService" ref="prpdRiskService" />
    </bean>
    <!-- mantis：OTH0093，處理人員：BJ085，需求單編號：OTH0093 傷害險通報查詢、重送介面 -->
    <bean id="AJAX004Action" scope="prototype" class="com.tlg.ajax.action.AJAX004Action">
    	<property name="cwpUndwrtAnnounceService" ref="cwpUndwrtAnnounceService" />
    	<property name="cwpRcvAnnounceService" ref="cwpRcvAnnounceService" />
    </bean>
    
    <!-- mantis：FIR0310，處理人員：BJ016，需求單編號：FIR0310 住火保經代分行服務人員對照表-->
    <bean id="AJAX005Action" scope="prototype" class="com.tlg.ajax.action.AJAX005Action">
    	<property name="prpduserService" ref="prpduserService" />
    </bean>
    
    <!-- mantis：FIR0295，處理人員：BJ085，需求單編號：FIR0295 外銀板信續件移回新核心-維護作業 -->
    <bean id="AJAX006Action" scope="prototype" class="com.tlg.ajax.action.AJAX006Action">
    	<property name="renewalDataProcessingService" ref="renewalDataProcessingService" />
    	<!-- mantis：FIR0455，處理人員：BJ085，需求單編號：FIR0455 住火-APS富邦續件處理作業 -->
    	<property name="firVerifyDatasService" ref="firVerifyDatasService" />
    </bean>
    
    <!-- mantis：MAR0029，處理人員：BJ085，需求單編號：MAR0029 水險兌換率幣別 
    	 mantis：MAR0037，處理人員：BJ085，需求單編號：MAR0037 高風險地區新增維護檔 -->
    <bean id="AJAX007Action" scope="prototype" class="com.tlg.ajax.action.AJAX007Action">
    	<property name="prpdexchService" ref="prpdexchService" />
    	<property name="prpdhighareaMcService" ref="prpdhighareaMcService" />
    </bean>
    
    <!-- mantis：FIR0349，處理人員：BJ085，需求單編號：FIR0349 外銀板信續件扣款前置檔產生作業 -->
    <bean id="AJAX008Action" scope="prototype" class="com.tlg.ajax.action.AJAX008Action">
    	<property name="firAgtrnBatchDtlService" ref="firAgtrnBatchDtlService" />
    </bean>
    
    <!-- mantis：SALES0007，處理人員：BJ085，需求單編號：SALES0007 新增業務人員所屬服務人員維護 -->
    <bean id="AJAX009Action" scope="prototype" class="com.tlg.ajax.action.AJAX009Action">
    	<property name="handlercodeTmpService" ref="handlercodeTmpService" />
    </bean>
    
    <!-- mantis：SALES0008，處理人員：BJ085，需求單編號：SALES0008 保經代分支機構維護程式需求 -->
    <bean id="AJAX010Action" scope="prototype" class="com.tlg.ajax.action.AJAX010Action">
    	<property name="prpdagentService" ref="prpdagentService" />
    </bean>
    
    <!-- mantis：SALES0015，處理人員：DP0706，需求單編號：SALES0015 銷管系統-APS-保經代分支機構地址正規化 -->
    <bean id="AJAX011Action" scope="prototype" class="com.tlg.ajax.action.AJAX011Action">
    	<property name="formatAddressCheckService" ref="formatAddressCheckService" />
    </bean>
    
    <!-- mantis：FIR0455，處理人員：BJ085，需求單編號：FIR0455 住火-APS富邦續件處理作業 -->
    <bean id="AJAX012Action" scope="prototype" class="com.tlg.ajax.action.AJAX012Action">
    	<property name="firAgtrnBatchDtlService" ref="firAgtrnBatchDtlService" />
    	<property name="firAgtrnTmpFbService" ref="firAgtrnTmpFbService" />
    	<property name="firFubonMaintainService" ref="firFubonMaintainService" />
    	<property name="firVerifyDatasService" ref="firVerifyDatasService" />
    </bean>
    
    <!-- 分進業務輸入，輸入大險種帶出相關值 -->
    <bean id="AJAX013Action" scope="prototype" class="com.tlg.ajax.action.AJAX013Action">
    	<property name="reinsInwardMainDataService" ref="reinsInwardMainDataService" />
    	<property name="reinsInwardInsDataService" ref="reinsInwardInsDataService" />
    	<property name="prpdcodeService" ref="prpdcodeService" />
    </bean>
    
    <!-- mantis：FIR0521，處理人員：CC009，需求單編號：FIR0521 火險地址維護作業增加處理正規化功能 -->
	<bean id="AJAX014Action" scope="prototype" class="com.tlg.ajax.action.AJAX014Action">
		<property name="configUtil" ref="configUtil" />
        <property name="firAddrCkdataService" ref="firAddrCkdataService" />
        <property name="firBatchLogService" ref="firBatchLogService" />
        <property name="firBatchInfoService" ref="firBatchInfoService" />
    </bean>
    
    <!-- mantis：MOB0019，處理人員：BJ085，需求單編號：MOB0019 理賠審核確認作業 -->
	<bean id="AJAX015Action" scope="prototype" class="com.tlg.ajax.action.AJAX015Action">
		<property name="fetclaimmainService" ref="fetclaimmainService" />
    </bean>
    
    <!-- mantis：FIR0621，處理人員：BJ085，需求單編號：FIR0621 住火_臺銀續保作業_續件資料處理作業 -->
	<bean id="AJAX016Action" scope="prototype" class="com.tlg.ajax.action.AJAX016Action">
		<property name="firAgtrnBatchDtlService" ref="firAgtrnBatchDtlService" />
    	<property name="firVerifyDatasService" ref="firVerifyDatasService" />
    	<property name="firBotMaintainService" ref="firBotMaintainService" />
    	<property name="prpyddagentService" ref="prpyddagentService" />
    	<property name="prpduserService" ref="prpduserService" />
    </bean>
    
    <!-- mantis：FIR0668，處理人員：DP0706，需求單編號：FIR0668_住火_元大續保作業_續件資料處理作業 -->
	<bean id="AJAX017Action" scope="prototype" class="com.tlg.ajax.action.AJAX017Action">
		<property name="firAgtrnBatchDtlService" ref="firAgtrnBatchDtlService" />
    	<property name="firVerifyDatasService" ref="firVerifyDatasService" />
    	<property name="firYcbMaintainService" ref="firYcbMaintainService" />
    	<property name="prpyddagentService" ref="prpyddagentService" />
    	<property name="prpduserService" ref="prpduserService" />
    </bean>
    
</beans>