<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	<appender name="UNCATEGORIZED" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/uncategorized.log" />
		<param name="MaxFileSize" value="30MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>
	<appender name="ASYNC-UNCATEGORIZED" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="UNCATEGORIZED" />
	</appender>

	<appender name="HIBERNATE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/hibernate.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c{1}: %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC-HIBERNATE" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="HIBERNATE" />
	</appender>

	<appender name="SPRING" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/spring.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c{1}: %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC-SPRING" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="SPRING" />
	</appender>

	<appender name="application" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/application.log" />
		<param name="MaxFileSize" value="50MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%c] - %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC-application" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="application" />
	</appender>

	<appender name="RUNTIME" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/runtime.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC-RUNTIME" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="RUNTIME" />
	</appender>

	<appender name="P6SPY" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/log/p6spy.log" />
		<param name="MaxFileSize" value="10MB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="ASYNC-P6SPY" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="8192" />
		<appender-ref ref="P6SPY" />
	</appender>



	<category name="p6spy">
		<param name="additivity" value="false" />
		<priority value="DEBUG" />
		<appender-ref ref="ASYNC-P6SPY" />
	</category>

	<category name="ins.framework.log.RunTimeLogAdvice">
		<param name="additivity" value="false" />
		<priority value="DEBUG" />
		<appender-ref ref="ASYNC-RUNTIME" />
	</category>

	<category name="ins">
		<param name="additivity" value="false" />
		<priority value="ERROR" />
		<appender-ref ref="ASYNC-application" />
	</category>

	<category name="org.springframework">
		<param name="additivity" value="false" />
		<priority value="WARN" />
		<appender-ref ref="ASYNC-SPRING" />
	</category>

	<category name="org.hibernate">
		<param name="additivity" value="false" />
		<priority value="WARN" />
		<appender-ref ref="ASYNC-HIBERNATE" />
	</category>

	<category name="org.springmodules.workflow.jbpm31">
		<param name="additivity" value="false" />
		<priority value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</category>
	<root>
		<level value="WARN" />
		<appender-ref ref="ASYNC-UNCATEGORIZED" />
	</root>
</log4j:configuration>
