<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:cxf="http://cxf.apache.org/core" 
    xmlns:jaxws="http://cxf.apache.org/jaxws" 
    xmlns:wsa="http://cxf.apache.org/ws/addressing"
    xsi:schemaLocation="
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">              
    
    <import resource="classpath:META-INF/cxf/cxf.xml" /> 
    <!-- 
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
     --> 
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
    
    
    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
   	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
    <!-- 全局Bus(輸入攔截器) -->  
    <cxf:bus>  
		<cxf:inInterceptors>
              <ref bean="loggingOutInterceptor" />
              <ref bean="loggingInInterceptor" />
        </cxf:inInterceptors>  
    </cxf:bus>    

 <!--
	<bean id="car001WebService" class="com.tlg.car.webService.oldPolicyQueryWebService.server.impl.OldPolicyQueryWebServiceImpl" >
		<property name="carmPnMainService" ref="carmPnMainService" />
		<property name="carmPnObjService" ref="carmPnObjService" />
		<property name="carmPnPremService" ref="carmPnPremService" />
		<property name="carxTransMolifeService" ref="carxTransMolifeService" />
		<property name="quoFlagQueryService" ref="quoFlagQueryService" />
		<property name="carpCarSerService" ref="carpCarSerService" />
		<property name="carpCarTypeService" ref="carpCarTypeService" />
		<property name="carpCarModelService" ref="carpCarModelService" />
		<property name="cmnpDataQueryService" ref="cmnpDataQueryService" />
	</bean>
	<jaxws:endpoint id="car001WebServiceEndpoint" implementor="#car001WebService" address="/car001WebService" />

	<bean id="insuredQueryService" class="com.tlg.car.webService.insuredManageWebService.server.impl.InsuredQueryServiceImpl" >
		<property name="carpBlklistService" ref="carpBlklistService"/>
		<property name="carmPnMainService" ref="carmPnMainService"/>
		<property name="carmPnObjService" ref="carmPnObjService"/>
		<property name="carmPnPremService" ref="carmPnPremService"/>
		<property name="carmPeMainService" ref="carmPeMainService"/>
		<property name="cmnpDataQueryService" ref="cmnpDataQueryService"/>
	</bean>
	<jaxws:endpoint id="insuredQueryEndpoint" implementor="#insuredQueryService" address="/insuredQueryService" />
-->
</beans>   
 