<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:cxf="http://cxf.apache.org/core" 
    xmlns:jaxws="http://cxf.apache.org/jaxws" 
    xmlns:wsa="http://cxf.apache.org/ws/addressing"
    xsi:schemaLocation="
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd"> 

    <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
 	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" />
	<!-- 全局Bus(輸入攔截器) -->  
	<cxf:bus>  
	    <cxf:inInterceptors>
        	<ref bean="loggingOutInterceptor" />
        	<ref bean="loggingInInterceptor" />
    	</cxf:inInterceptors>  
	</cxf:bus>
    
    <!-- 
    <bean id="quoFlagQueryService" class="com.tlg.car.webService.paymentFlag.client.impl.QuoFlagQueryService" factory-bean="clientQuoFlagQueryService" factory-method="create"/>
    <bean id="clientQuoFlagQueryService" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.tlg.car.webService.paymentFlag.client.impl.QuoFlagQueryService" />
		<property name="address" value="http://10.224.39.12:8991/FNS/webService/quoFlagQuery" />	 	
    </bean>
     -->
    

</beans>    