<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<bean id="sameDirClasses"
		class="ins.framework.dao.SameDirClassFactoryBean">
		<constructor-arg>
			<list>
				<value>cn.com.sinosoft.ims.log.model.UtiISyncLog</value>
				
				<value>cn.com.sinosoft.dms.model.PrpDagent</value> 
				<value>cn.com.sinosoft.dms.model.PrpDbank</value> 
				<value>cn.com.sinosoft.dms.model.PrpDnewCode</value> 
				<value>cn.com.sinosoft.dms.model.PrpDnewCodeId</value> 
				<value>cn.com.sinosoft.dms.model.PrpDcompany</value> 
				<value>cn.com.sinosoft.dms.model.PrpDdealer</value> 
				<value>cn.com.sinosoft.dms.model.PrpDexch</value> 
				<value>cn.com.sinosoft.dms.model.PrpDexchId</value> 
				<value>cn.com.sinosoft.dms.model.PrpDexchVO</value> 
				<value>cn.com.sinosoft.dms.model.PrpDport</value> 
				<value>cn.com.sinosoft.dms.model.PrpDtype</value> 
<!--		by hualimin 2009-9-2 19:45		-->
				<value>cn.com.sinosoft.dms.model.PrpDclass</value> 
				<value>cn.com.sinosoft.dms.model.PrpDframe</value> 
				<value>cn.com.sinosoft.dms.model.PrpDplan</value>
				<value>cn.com.sinosoft.dms.model.PrpDrisk</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskClauseKind</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskEngage</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskItem</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskLimit</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskLimitId</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskShortRate</value>
				<value>cn.com.sinosoft.dms.model.PrpDaccountInfo</value>
				<value>cn.com.sinosoft.dms.model.PrpDarea</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskClause</value>
				<!--added by yuyiqiang 20130224 begin-->
				<value>cn.com.sinosoft.dms.model.PrpDkind</value>
				<!--added by yuyiqiang 20130224 end-->
				<!--added by wanglianzhou 20130224 begin-->
				<value>cn.com.sinosoft.dms.model.PrpDcustomer</value>
				<value>cn.com.sinosoft.dms.model.PrpDcustomerFine</value>
				<value>cn.com.sinosoft.dms.model.PrpDcustomerFXQ</value>
				<value>cn.com.sinosoft.dms.model.PrpDcustomerIdv</value>
				<value>cn.com.sinosoft.dms.model.PrpDcustomerRelation</value>
				<value>cn.com.sinosoft.dms.model.PrpDcustomerUnit</value>
				<!--added by wanglianzhou 20130224 end-->
				<value>cn.com.sinosoft.dms.model.PrpDriskClauseKindMinPremium</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskClauseKindRelation</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskMinPremium</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskShortRate</value>
<!--		by hualimin 2009-9-2 19:45		-->
				<value>cn.com.sinosoft.dms.model.PrpDcodeRisk</value>
				<value>cn.com.sinosoft.dms.model.PrpDcodeCom</value>
<!--		by hualimin 2009-11-13 		-->
				<value>cn.com.sinosoft.dms.model.PrpDriskEngage</value>
				<value>cn.com.sinosoft.dms.model.PrpDtaxAuthorities</value>
<!--		by hualimin 2009-11-20		-->
				<value>cn.com.sinosoft.dms.model.PrpDtreatyReten</value>
				
				<!--begin 渠道-->
				<value>cn.com.sinosoft.dms.model.PrpDagentExt</value>
				<value>cn.com.sinosoft.dms.model.PrpDcontractManage</value>
				<value>cn.com.sinosoft.dms.model.PrpDcontractManageId</value>
				<value>cn.com.sinosoft.dms.model.SaOldAgent</value>
				<value>cn.com.sinosoft.dms.model.SaOldAgentId</value>
				<value>cn.com.sinosoft.inf.dict.xmlmsg.agentSYN.AgentSYNObj</value>
				<!--end	-->
				<value>cn.com.sinosoft.dms.model.PrpDsettlementByr</value>
				<value>cn.com.sinosoft.dms.model.PrpDsettlementLkr</value>
				<value>cn.com.sinosoft.dms.model.PrpDdisaster</value>
				<value>cn.com.sinosoft.dms.model.PrpDcompanyTrace</value>
				<value>cn.com.sinosoft.dms.model.PrpDcode</value>
				<value>cn.com.sinosoft.dms.model.PrpDidentifier</value>
				<value>cn.com.sinosoft.dms.model.PrpDcrossOrg</value>
				<value>cn.com.sinosoft.dms.model.PrpDproject</value>
				<value>cn.com.sinosoft.dms.model.PrpDresource</value>
				<value>cn.com.sinosoft.dms.model.PrpVersion</value>
				<value>cn.com.sinosoft.dms.model.PrpVersionId</value>
				<value>cn.com.sinosoft.dms.model.PrpDSimpleTreaty</value>
				<value>cn.com.sinosoft.dms.model.PrpDSimpleTreatyId</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskEngage</value>
				<value>cn.com.sinosoft.dms.model.PrpDriskEngageId</value>
				<value>cn.com.sinosoft.dms.model.PrpDRCKRateLower</value>
				<value>cn.com.sinosoft.dms.model.UtiCalendar</value>
				<value>cn.com.sinosoft.dms.model.PrpdRegulation</value>
				<value>cn.com.sinosoft.dms.model.PrpdInjuryDuty</value>
				<value>cn.com.sinosoft.dms.model.PrpdBasicMedical</value>
				<value>cn.com.sinosoft.dms.model.PrpdInjuryRate</value>
				<value>cn.com.sinosoft.dms.model.PrpdInjuryDefine</value>
			</list>
		</constructor-arg>
	</bean>
			<!-- 大对象处理器 -->
	<bean id="lobHandler" lazy-init="true"
		class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
	<!--Hibernate SessionFatory-->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
			<!-- 大对象处理器 -->
		<property name="lobHandler" ref="lobHandler" /> 
		<!--  可以同时支持annotatedClasses和hbm-->
		<property name="annotatedClasses" ref="sameDirClasses" />
		<property name="mappingJarLocations" ref="jbpmHBM"/>
		 
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					<!-- org.hibernate.dialect.InformixDialect-->
					org.hibernate.dialect.OracleDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</prop>
				<prop key="hibernate.cache.provider_class">
					<!--org.hibernate.cache.HashtableCacheProvider-->
				    org.hibernate.cache.EhCacheProvider 
				</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">none</prop> 
				<prop key="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop>
				 -->
			</props>
		</property>
		<property name="mappingResources">
		<list>
		</list>
		</property>
	</bean>
	
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
</beans>
