<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">
	<bean id="menuAction" scope="prototype"
		class="ins.platform.menu.web.MenuAction">
	</bean>
	<!--岗位模板定义 -->
	<bean id="saaUserPowerAction" scope="prototype"
		class="cn.com.sinosoft.saa.web.SaaUserPowerAction">
	</bean>
		
	<!--	*********数据字典***********	-->
		<bean id="prpDbankAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDbankAction">
	</bean>

	<bean id="prpDagentAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDagentAction">
	</bean>
	
		<bean id="prpDdealerAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDdealerAction">
	</bean>
	
		<bean id="prpDdriverAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDdriverAction">
	</bean>
	
		<bean id="prpDplaneAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDplaneAction">
	</bean>
	
		<bean id="prpDportAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDportAction">
	</bean>
	
	<bean id="prpDshipAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDshipAction">
	</bean>
	<bean id="prpDcodeAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDcodeAction">
	</bean>
	<bean id="prpDtypeAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDtypeAction">
	</bean>
	
	<bean id="prpDexchAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDexchAction">
	</bean>
	
	<bean id="prpDcompanyAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDcompanyAction">
	</bean>
	
	<bean id="checkSameKeyAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.CheckSameKeyAction">
	</bean>
<!-- begin -->	
	<bean id="PrpDTreatyRetenAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDTreatyRetenAction">
	</bean>
	<bean id="prpDsettlementByrAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDsettlementByrAction">
	</bean>
	<bean id="prpDsettlementLkrAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDsettlementLkrAction">
	</bean>
	<bean id="prpDcoinsAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDcoinsAction">
	</bean>
	<bean id="prpDreinsurerAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDreinsurerAction">
	</bean>
	<bean id="prpDcodeRiskAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDcodeRiskAction">
	</bean>
	<bean id="prpDcodeComAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDcodeComAction">
	</bean>
	<bean id="prpDresourceAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDresourceAction">
	</bean>
	<bean id="prpVersionAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpVersionAction">
	</bean>
	<bean id="prpDriskEngageAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDriskEngageAction">
	</bean>
	<bean id="prpDprojectAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDprojectAction">
	</bean>
	<bean id="codeInputAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.CodeInputAction">
	</bean>
	<!--add by duanfa 2011-05-16   -->
	<bean id="prpDregulationAction" scope="prototype"
		class="cn.com.sinosoft.dms.web.PrpDregulationAction">
	</bean>
	<bean id="imageMangeAction" scope="prototype"
		class="cn.com.sinosoft.intf.image.web.ImageMangeAction">
	</bean>
	
<!-- end -->	
<!--**************************************	-->
</beans>
