<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	<!--mantis：OTH0175，處理人員：DP0706，需求單編號：OTH0175_APS-收件收件報備系統 已出單資料回拋B2B-->
	<!-- Base Dao  -->
	<bean id="rptCoredataDao" class="com.tlg.msSqlRdcB2b.dao.impl.RptCoredataDaoImpl">
		<property name="sqlMapClient" ref="msSqlRdcB2bSqlMapClient"/>
	</bean>
	
	<!-- Base Service -->
	<bean id="rptCoredataService" class="com.tlg.msSqlRdcB2b.service.impl.RptCoredataServiceImpl">
		<property name="rptCoredataDao" ref="rptCoredataDao"/>
	</bean>
	
	

</beans>