<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<!-- Base Dao  -->
	<bean id="rfrcodeDao" class="com.tlg.xchg.dao.impl.RfrcodeDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="ctbcPetWs10704Dao" class="com.tlg.xchg.dao.impl.CtbcPetWs10704DaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="liaRcvAnnounceDao" class="com.tlg.xchg.dao.impl.LiaRcvAnnounceDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>

	<bean id="liaRcvAnnounceResultDao" class="com.tlg.xchg.dao.impl.LiaRcvAnnounceResultDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="liaUndwrtAnnounceDao" class="com.tlg.xchg.dao.impl.LiaUndwrtAnnounceDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="liaUndwrtAnnounceResultDao" class="com.tlg.xchg.dao.impl.LiaUndwrtAnnounceResultDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>

	<bean id="assocRcvAncmtDao" class="com.tlg.xchg.dao.impl.AssocRcvAncmtDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="assocAnnAssuwDao" class="com.tlg.xchg.dao.impl.AssocAnnAssuwDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：CLM0152，處理人員：BI086，需求單編號：CLM0152 傷害險旅責旅綜理賠給付簡訊通知 start -->
	<bean id="clmSmsDao" class="com.tlg.xchg.dao.impl.ClmSmsDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：CLM0152，處理人員：BI086，需求單編號：CLM0152 傷害險旅責旅綜理賠給付簡訊通知 end -->
	<!-- mantis：OTH0093，處理人員：BJ085，需求單編號：OTH0093 傷害險通報查詢、重送介面 start -->
	<bean id="cwpRcvAnnounceDao" class="com.tlg.xchg.dao.impl.CwpRcvAnnounceDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>

	<bean id="cwpUndwrtAnnounceDao" class="com.tlg.xchg.dao.impl.CwpUndwrtAnnounceDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：OTH0093，處理人員：BJ085，需求單編號：OTH0093 傷害險通報查詢、重送介面 end -->
	
	<!-- mantis：FIR0299_APS查詢電子保單發送結果 START-->
	<bean id="newepolicymainDao" class="com.tlg.xchg.dao.impl.NewepolicymainDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：FIR0299_APS查詢電子保單發送結果 END-->
	
	<!-- mantis：OTH0159，處理人員：CD094，需求單編號：OTH0159 電子保單系統條款檢核不通過資料通知(APS) START-->
	<bean id="newepolicyresultDao" class="com.tlg.xchg.dao.impl.NewepolicyresultDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：OTH0159，處理人員：CD094，需求單編號：OTH0159 電子保單系統條款檢核不通過資料通知(APS) END-->
	
	<bean id="cwpIpb905iDao" class="com.tlg.xchg.dao.impl.CwpIpb905iDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>

	<bean id="mobileInsSmsDao" class="com.tlg.xchg.dao.impl.MobileInsSmsDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="liaMiEpolicyDao" class="com.tlg.xchg.dao.impl.LiaMiEpolicyDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<!-- mantis：MOB0024，處理人員：BJ016，需求單編號：MOB0024 產生終止通知書 START-->
	<bean id="liaMiNoticeCancleDao" class="com.tlg.xchg.dao.impl.LiaMiNoticeCancleDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	
	<bean id="liaMiNoticeUnpaidDao" class="com.tlg.xchg.dao.impl.LiaMiNoticeUnpaidDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：MOB0024，處理人員：BJ016，需求單編號：MOB0024 產生終止通知書 END-->
	
	<bean id="miEpolicysmsDao" class="com.tlg.xchg.dao.impl.MiEpolicysmsDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：HAS0212，處理人員：BI086 ，需求單編號： 新核心核保通過後，要送承保通報 start -->
	<bean id="undwrtIpb902iDao" class="com.tlg.xchg.dao.impl.UndwrtIpb902iDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- mantis：HAS0212，處理人員：BI086 ，需求單編號： 新核心核保通過後，要送承保通報 end -->
	<bean id="cwpLiaLia07061aqResultDao" class="com.tlg.xchg.dao.impl.CwpLiaLia07061aqResultDaoImpl">
		<property name="sqlMapClient" ref="xchgSqlMapClient"/>
	</bean>
	<!-- Base Service -->
	<bean id="rfrcodeService" class="com.tlg.xchg.service.impl.RfrcodeServiceImpl">
		<property name="rfrcodeDao" ref="rfrcodeDao"/>
	</bean>
	
	<bean id="ctbcPetWs10704Service" class="com.tlg.xchg.service.impl.CtbcPetWs10704ServiceImpl">
		<property name="ctbcPetWs10704Dao" ref="ctbcPetWs10704Dao"/>
	</bean>
	
	<bean id="liaRcvAnnounceService" class="com.tlg.xchg.service.impl.LiaRcvAnnounceServiceImpl">
		<property name="liaRcvAnnounceDao" ref="liaRcvAnnounceDao"/>
	</bean>
	
	<bean id="liaRcvAnnounceResultService" class="com.tlg.xchg.service.impl.LiaRcvAnnounceResultServiceImpl">
		<property name="liaRcvAnnounceResultDao" ref="liaRcvAnnounceResultDao"/>
	</bean>
	
	<bean id="liaUndwrtAnnounceService" class="com.tlg.xchg.service.impl.LiaUndwrtAnnounceServiceImpl">
		<property name="liaUndwrtAnnounceDao" ref="liaUndwrtAnnounceDao"/>
	</bean>
	
	<bean id="liaUndwrtAnnounceResultService" class="com.tlg.xchg.service.impl.LiaUndwrtAnnounceResultServiceImpl">
		<property name="liaUndwrtAnnounceResultDao" ref="liaUndwrtAnnounceResultDao"/>
	</bean>
	
	<bean id="assocRcvAncmtService" class="com.tlg.xchg.service.impl.AssocRcvAncmtServiceImpl">
		<property name="assocRcvAncmtDao" ref="assocRcvAncmtDao"/>
	</bean>
	
	<bean id="assocAnnAssuwService" class="com.tlg.xchg.service.impl.AssocAnnAssuwServiceImpl">
		<property name="assocAnnAssuwDao" ref="assocAnnAssuwDao"/>
	</bean>
	
	<!-- mantis：OTH0093，處理人員：BJ085，需求單編號：OTH0093 傷害險通報查詢、重送介面 start -->
	<bean id="cwpRcvAnnounceService" class="com.tlg.xchg.service.impl.CwpRcvAnnounceServiceImpl">
		<property name="cwpRcvAnnounceDao" ref="cwpRcvAnnounceDao"/>
	</bean>
	
	<bean id="cwpUndwrtAnnounceService" class="com.tlg.xchg.service.impl.CwpUndwrtAnnounceServiceImpl">
		<property name="cwpUndwrtAnnounceDao" ref="cwpUndwrtAnnounceDao"/>
	</bean>
	<!-- mantis：OTH0093，處理人員：BJ085，需求單編號：OTH0093 傷害險通報查詢、重送介面 end-->
	
	<!-- mantis：FIR0299_APS查詢電子保單發送結果 START-->
	<bean id="newepolicymainService" class="com.tlg.xchg.service.impl.NewepolicymainServiceImpl">
		<property name="newepolicymainDao" ref="newepolicymainDao"/>
	</bean>
	<!-- mantis：FIR0299_APS查詢電子保單發送結果 END-->

	<!-- mantis：OTH0159，處理人員：CD094，需求單編號：OTH0159 電子保單系統條款檢核不通過資料通知(APS) START-->
	<bean id="newepolicyresultService" class="com.tlg.xchg.service.impl.NewepolicyresultServiceImpl">
		<property name="newepolicyresultDao" ref="newepolicyresultDao"/>
		<property name="configUtil" ref="configUtil" />
	</bean>
	<!-- mantis：OTH0159，處理人員：CD094，需求單編號：OTH0159 電子保單系統條款檢核不通過資料通知(APS) END-->
	
	<bean id="cwpIpb905iService" class="com.tlg.xchg.service.impl.CwpIpb905iServiceImpl">
		<property name="cwpIpb905iDao" ref="cwpIpb905iDao"/>
	</bean>
	
	<bean id="mobileInsSmsService" class="com.tlg.xchg.service.impl.MobileInsSmsServiceImpl">
		<property name="mobileInsSmsDao" ref="mobileInsSmsDao"/>
	</bean>
	
	<bean id="liaMiEpolicyService" class="com.tlg.xchg.service.impl.LiaMiEpolicyServiceImpl">
		<property name="liaMiEpolicyDao" ref="liaMiEpolicyDao"/>
	</bean>
	
	<!-- mantis：MOB0024，處理人員：BJ016，需求單編號：MOB0024 產生終止通知書 START-->
	<bean id="liaMiNoticeCancleService" class="com.tlg.xchg.service.impl.LiaMiNoticeCancleServiceImpl">
		<property name="liaMiNoticeCancleDao" ref="liaMiNoticeCancleDao"/>
	</bean>
	
	<bean id="liaMiNoticeUnpaidService" class="com.tlg.xchg.service.impl.LiaMiNoticeUnpaidServiceImpl">
		<property name="liaMiNoticeUnpaidDao" ref="liaMiNoticeUnpaidDao"/>
	</bean>
	<!-- mantis：MOB0024，處理人員：BJ016，需求單編號：MOB0024 產生終止通知書 END-->
	<!-- mantis：CLM0152，處理人員：BI086，需求單編號：CLM0152 傷害險旅責旅綜理賠給付簡訊通知 start -->
	<bean id="clmSmsService" class="com.tlg.xchg.service.impl.ClmSmsServiceImpl">
		<property name="clmSmsDao" ref="clmSmsDao"/>
	</bean>
	<!-- mantis：CLM0152，處理人員：BI086，需求單編號：CLM0152 傷害險旅責旅綜理賠給付簡訊通知 end -->
	
	<bean id="miEpolicysmsService" class="com.tlg.xchg.service.impl.MiEpolicysmsServiceImpl">
		<property name="miEpolicysmsDao" ref="miEpolicysmsDao"/>
	</bean>
	<!-- mantis：HAS0212，處理人員：BI086 ，需求單編號： 新核心核保通過後，要送承保通報 start -->
	<bean id="undwrtIpb902iService" class="com.tlg.xchg.service.impl.UndwrtIpb902iServiceImpl">
		<property name="undwrtIpb902iDao" ref="undwrtIpb902iDao"/>
	</bean>
	<!-- mantis：HAS0212，處理人員：BI086 ，需求單編號： 新核心核保通過後，要送承保通報 end -->
	<bean id="cwpLiaLia07061aqResultService" class="com.tlg.xchg.service.impl.CwpLiaLia07061aqResultServiceImpl">
		<property name="cwpLiaLia07061aqResultDao" ref="cwpLiaLia07061aqResultDao"/>
	</bean>
	<!-- mantis：OTH0184，處理人員：DP0706，需求單編號：APS要被保人通訊地址比對作業增加資料來源(XCHG) START-->
	<bean id="prpcinsuredContactChk0NewDao" class="com.tlg.xchg.dao.impl.PrpcinsuredContactChk0NewDaoImpl">
		<property name="sqlMapClient" ref="xchg2SqlMapClient"/>
	</bean>
	<bean id="prpcinsuredContactChk0NewService" class="com.tlg.xchg.service.impl.PrpcinsuredContactChk0NewServiceImpl">
		<property name="prpcinsuredContactChk0NewDao" ref="prpcinsuredContactChk0NewDao"/>
	</bean>
	<!--  mantis：OTH0184，處理人員：DP0706，需求單編號：APS要被保人通訊地址比對作業增加資料來源(XCHG)  END -->
</beans>