<html>
	<body>
			<table id="" width="50%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td valign="top"
						style="font-size: 14px; padding: 0; height: auto; min-height: auto; font-family: 'lucida Grande', Verdana;"
						class="body">
								<tr>
									<td align='center' valign='top' bgcolor='#FFFFFF'>
										<table width='92%' border='0' cellspacing='0' cellpadding='0'>
											<tr>
												<td align='center' valign='top'>
													火險理賠減保通知函
													<br>
												</td>
											</tr>
											<tr>
												<td align='left'>
													被保險人：$!{insuredName}     賠案號碼：$!{businessNo}     保單號碼：$!{policyNo}
												</td>
											</tr>
											<tr>
											<td align='left'>
											已賠付結案，理賠計算書內容詳如附檔，請辦理減保。
											</td>
											</tr>
										</table>	
									</td>
								</tr>
					</td>
				</tr>
			</table>
	</body>
</html>