<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="false">
	<!-- BPM服务 -->
	
	<bean id="jbpmTemplate"
		class="org.springmodules.workflow.jbpm31.JbpmTemplate">
		<constructor-arg index="0" ref="jbpmConfiguration" />
	</bean>
	
	<bean id="jbpmHBM" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>/WEB-INF/lib/jbpm-jpdl.jar</value>
				<value>/WEB-INF/lib/jbpm-identity.jar</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="jbpmConfiguration" class="org.springmodules.workflow.jbpm31.LocalJbpmConfigurationFactoryBean">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="configuration" value="classpath:/bpm/jbpm.cfg.xml"/>
		<!--<property name="processDefinitionsResources">
			<list>
				<value>classpath:/process/auditdefinition/processdefinition.xml</value>
			</list>
	</property>
--></bean>

</beans>